fleamart-wcf/Fleamart.TestClient/Service References/FleamartServiceReference/FleamartService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FleamartService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1691/FleamartService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1691/FleamartService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFleamartService_TestOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:TestOperation" />
  </wsdl:message>
  <wsdl:message name="IFleamartService_TestOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestOperationResponse" />
  </wsdl:message>
  <wsdl:message name="IFleamartService_LoginCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginCheck" />
  </wsdl:message>
  <wsdl:message name="IFleamartService_LoginCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IFleamartService_placeBidOnItem_InputMessage">
    <wsdl:part name="parameters" element="tns:placeBidOnItem" />
  </wsdl:message>
  <wsdl:message name="IFleamartService_placeBidOnItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:placeBidOnItemResponse" />
  </wsdl:message>
  <wsdl:portType name="IFleamartService">
    <wsdl:operation name="TestOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/IFleamartService/TestOperation" message="tns:IFleamartService_TestOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFleamartService/TestOperationResponse" message="tns:IFleamartService_TestOperation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IFleamartService/LoginCheck" message="tns:IFleamartService_LoginCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFleamartService/LoginCheckResponse" message="tns:IFleamartService_LoginCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="placeBidOnItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IFleamartService/placeBidOnItem" message="tns:IFleamartService_placeBidOnItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFleamartService/placeBidOnItemResponse" message="tns:IFleamartService_placeBidOnItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFleamartService" type="tns:IFleamartService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestOperation">
      <soap:operation soapAction="http://tempuri.org/IFleamartService/TestOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginCheck">
      <soap:operation soapAction="http://tempuri.org/IFleamartService/LoginCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="placeBidOnItem">
      <soap:operation soapAction="http://tempuri.org/IFleamartService/placeBidOnItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FleamartService">
    <wsdl:port name="BasicHttpBinding_IFleamartService" binding="tns:BasicHttpBinding_IFleamartService">
      <soap:address location="http://localhost:1691/FleamartService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>