fleamart-wcf/Fleamart.TestClient/Service References/FleamartServiceReference/FleamartService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TestOperation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestOperationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="upImeV" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passV" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginCheckResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>